<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>We are a fictional company based in Sri Lanka, created for an academic project in affiliation with the University of Colombo.</p>
    <p>This application is a demonstration of our web development skills and dedication to learning.</p> 
    <ul class="actions">
      <li><a href="/contact" class="button scrolly">Contact Us Anyways</a></li>
    </ul>
  </div>
</section>